@font-face {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Rubik-Regular/Rubik-Regular.eot");
  src: url("../fonts/Rubik-Regular/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Rubik-Medium/Rubik-Medium.eot");
  src: url("../fonts/Rubik-Medium/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Rubik-Bold/Rubik-Bold.eot");
  src: url("../fonts/Rubik-Bold/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Bold/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/BebasLight/BebasLight.eot");
  src: url("../fonts/BebasLight/BebasLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasLight/BebasLight.woff") format("woff"), url("../fonts/BebasLight/BebasLight.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
}

*::-webkit-input-placeholder {
  color: #9fa3a7;
  opacity: 1;
}

*:-moz-placeholder {
  color: #9fa3a7;
  opacity: 1;
}

*::-moz-placeholder {
  color: #9fa3a7;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #9fa3a7;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden;
  color: #000;
  font-family: "Rubik", sans-serif;
}

body.no_scroll {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clear {
  clear: both;
}

.contain {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.pt_small {
  padding-top: 5rem;
}

.pb_small {
  padding-bottom: 5rem;
}

.pt_big {
  padding-top: 10rem;
}

.pb_big {
  padding-bottom: 10rem;
}

.main_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 0 auto;
}

.footer_top {
  color: #fff;
  padding: 5rem 0;
  position: relative;
}

.footer_top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 49, 89, 0.7);
}

.footer_top.bg {
  background-image: url(../img/bg_1.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center top;
}

.footer_top .contain {
  position: relative;
  z-index: 1;
}

.footer_bottom {
  background-color: #EDEDED;
  font-size: 5vw;
  font-family: "Bebas", sans-serif;
  text-align: justify;
  padding: 20px 15px;
  text-transform: uppercase;
}

.logo_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 320px;
  margin: 0 auto;
}

.footer_logo {
  max-width: 17rem;
  display: block;
}

.footer_logo:nth-child(2) {
  max-width: 10.5rem;
}

.footer_logo img {
  width: 100%;
  height: auto;
}

.footer_menu {
  font-size: 13px;
  max-width: 900px;
  width: 100%;
  text-transform: uppercase;
  margin: 3rem auto;
}

.footer_menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer_menu li {
  margin-bottom: 10px;
}

.footer_menu a {
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.footer_menu a:hover {
  opacity: .6;
}

.footer_menu a.active {
  color: #F48124;
  opacity: 1 !important;
}

.sixteen_item {
  background-color: rgba(255, 255, 255, 0.6);
  color: #052741;
  font-size: 24px;
  padding: 4px 3px;
  width: 40px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  letter-spacing: nowrap;
  margin: 30px auto 0;
  position: relative;
}

.sixteen_item span {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 20%;
}

.copyright {
  font-size: 12px;
  opacity: .4;
  text-align: center;
  margin-top: 30px;
}

.header_main {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 49, 89, 0.7);
  color: #fff;
}

.header_main .contain {
  max-width: 1880px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.header_main.glow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 550px 120px #0095ff;
          box-shadow: 0 0 550px 120px #0095ff;
}

.header_main.glow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 550px 120px #0095ff;
          box-shadow: 0 0 550px 120px #0095ff;
}

.logo_1 {
  display: block;
  max-width: 170px;
  position: relative;
  height: auto;
}

.logo_1 img {
  width: 100%;
}

.logo_2 {
  display: block;
  max-width: 100px;
  position: relative;
  height: auto;
  top: 5px;
}

.logo_2 img {
  width: 100%;
}

.main_menu {
  max-width: 1050px;
  width: 100%;
  padding: 0 50px;
}

.main_menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
}

.main_menu a {
  padding: 35px 0 30px;
  display: inline-block;
  opacity: .7;
  -webkit-transition: opacity .25s, border .25s;
  -o-transition: opacity .25s, border .25s;
  transition: opacity .25s, border .25s;
  letter-spacing: 1px;
  border-bottom: 3px solid transparent;
}

.main_menu a:hover {
  opacity: 1;
  border-bottom: 3px solid #00345F;
}

.main_menu a.active {
  border-bottom: 3px solid #F48124;
  opacity: 1;
}

.burger_button {
  width: 28px;
  cursor: pointer;
  z-index: 16;
  display: none;
}

.burger_button div {
  width: 100%;
  height: 5px;
  background: #F48124;
  margin: 5px auto 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.burger_button div:first-child {
  margin-top: 0;
}

.burger_menu {
  position: absolute;
  z-index: 20;
  background-color: #003159;
  width: 100%;
  color: #fff;
  top: 0;
  display: none;
  left: 0;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
  font-size: 22px;
}

.burger_menu:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 550px 120px #0095ff;
          box-shadow: 0 0 550px 120px #0095ff;
}

.burger_menu .contain {
  padding: 20px 15px 30px;
  max-width: 100%;
}

.burger_ul {
  list-style-type: none;
  position: relative;
  z-index: 1;
  padding-left: 20%;
}

.burger_ul li {
  margin-top: 20px;
}

.burger_ul .active {
  color: #F48124;
}

.close_burger {
  max-width: 30px;
}

.bg_1 {
  background-image: url(../img/bg_1.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  color: #fff;
}

.section_main .contain {
  position: relative;
  z-index: 1;
}

.main_wrap_blocks .big_img {
  width: 50%;
  display: inline-block;
}

.main_wrap_blocks .anons {
  font-size: 21px;
  margin-top: 30px;
  max-width: 460px;
}

.main_right {
  width: 50%;
  display: inline-block;
  margin-left: -5px;
  vertical-align: top;
  margin-top: 7rem;
}

.main_name {
  font-size: 5.6rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-right: 90px;
  max-width: 520px;
}

.main_name i {
  font-style: normal;
  color: #DC4448;
}

.main_name img {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 68px;
  width: 100%;
}

.section_top {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.section_name {
  font-size: 4rem;
  font-weight: 700;
}

.section_anons {
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 15px;
}

.my_tracks {
  -webkit-background-size: auto 1600px;
          background-size: auto 1600px;
  background-position: center top;
}

.wrap_tracks_slider {
  position: relative;
  padding: 50px 0 0;
}

.tracks_slider {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  text-align: center;
}

.tracks_slider .owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider_nav {
  background-image: url('data:image/svg+xml;utf8,<svg ...><path fill="#FFFBBB" ... /></path></svg>');
}

.slider_nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #fff;
  background: none;
  border: none;
  font-size: 20px;
  z-index: 2;
  cursor: pointer;
  display: block;
  opacity: .7;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.slider_nav button:hover {
  opacity: 1;
}

.slider_nav button.disabled {
  opacity: .2;
}

.slider_nav .owl-prev {
  left: -30px;
}

.slider_nav .owl-prev img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slider_nav .owl-next {
  right: -30px;
}

.track_item {
  max-width: 330px;
  padding: 20px 2rem 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  text-align: center;
  height: 100%;
  padding-bottom: 50px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.track_item:before {
  content: '';
  background-color: rgba(0, 36, 68, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.track_item.light {
  background-color: #EDEDED;
  padding-bottom: 100px;
}

.track_item.light .timer_range {
  color: #fff;
}

.track_item.light .irs-grid {
  background-color: #C8C8C8;
}

.track_item.light .record_info .bottom {
  border-top: 1px solid #D5D5D5;
  bottom: 57px;
}

.track_item .timer_range {
  top: -10px;
  position: relative;
}

.track_item .volume_range_wrap {
  margin-top: 10px;
}

.spectrogram {
  width: 100%;
  height: 38px;
}

.volume_range_wrap {
  padding: 0 25px;
  position: relative;
}

.volume_range_wrap img {
  width: 15px !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
}

.volume_range_wrap .not_volume {
  left: 0;
  width: 13px !important;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  cursor: pointer;
}

.volume_range_wrap .not_volume:hover {
  opacity: .5;
}

.volume_range_wrap .go_volume {
  right: 0;
}

.volume_range_wrap .irs-hidden-input {
  display: none;
}

.volume_range_wrap .irs {
  width: 100%;
  display: block;
  height: 3px;
  position: relative;
}

.volume_range_wrap .irs-grid {
  width: 100%;
  height: 100%;
  background-color: #5E717F;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}

.volume_range_wrap .irs-bar {
  background-color: #DC4448;
  height: 100%;
  top: 0;
  position: absolute;
}

.volume_range_wrap .irs-single {
  width: 18px;
  height: 18px;
  display: block;
  top: -8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 2;
  font-size: 0;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
  cursor: col-resize;
}

.volume_range_wrap .irs-min {
  display: none;
}

.volume_range_wrap .irs-max {
  display: none;
}

.volume_range_wrap .irs-from {
  display: none;
}

.volume_range_wrap .irs-to {
  display: none;
}

.timer_range {
  font-size: 12px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

.record_img {
  position: relative;
  margin-top: 30px;
}

.record_img .play {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DC4448;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: 50%;
  left: 45.5%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
}

.record_img .play:hover {
  background-color: #F48124;
}

.record_img .play i {
  position: absolute;
  top: 50%;
  left: 54%;
  font-size: 41px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.record_info {
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}

.record_info .top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.record_info .top p {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-right: 20px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.record_info .top .date {
  white-space: nowrap;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.record_info .top .name {
  position: relative;
}

.record_info .top .name p {
  display: inline-block;
  vertical-align: middle;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}

.record_info .top .img {
  width: 45px;
  height: 45px;
  display: block;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.record_info .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  border-top: 1px solid #4E6478;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}

.record_info .bottom span {
  color: #a2a2a2;
  font-weight: 400;
  margin-right: 5px;
}

.record_info .bottom .link {
  font-size: 22px;
  opacity: .7;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  cursor: pointer;
}

.record_info .bottom .link:hover {
  opacity: 1;
}

.show_archive {
  margin-top: 80px;
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
}

.show_archive span {
  cursor: pointer;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.show_archive span:hover {
  color: #DC4448;
}

.show_archive i {
  margin-left: 6px;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  -o-transition: transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.show_archive i.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.track_share .icon {
  width: 22px;
  height: 22px;
  background-color: #818181;
  display: inline-block;
  position: relative;
  color: #fff;
  cursor: pointer;
  margin-right: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.track_share .icon:hover {
  opacity: .6;
}

.track_share .icon:last-child {
  margin-right: 0;
}

.track_share .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.track_share .icon.active.vk {
  background-color: #4880C1;
}

.track_share .icon.active.ok {
  background-color: #ED7230;
}

.track_share .icon.active.fb {
  background-color: #4267B1;
}

.track_vote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #DC4448;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  padding: 15px 20px;
  display: block;
  -webkit-transition: background .25s;
  -o-transition: background .25s;
  transition: background .25s;
  cursor: pointer;
}

.track_vote:hover {
  background-color: #F48124;
}

.track_vote .vote {
  display: inline-block;
}

.track_vote img {
  width: 8px !important;
  margin-left: 15px;
  display: inline-block !important;
  vertical-align: middle;
  top: -2px;
  position: relative;
}

.slider_dots {
  text-align: center;
  margin-top: 30px;
  display: none;
}

.slider_dots button {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
  border: none;
  background-color: #D0D0D0;
}

.slider_dots button:last-child {
  margin-right: 0;
}

.slider_dots button.active {
  background-color: #DC4448;
}

.authorization {
  color: #fff;
}

.authorization:before {
  content: '';
  background-image: url(../img/bg_1.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.authorization_step_1 {
  max-width: 430px;
  margin: 0 auto;
  text-align: center;
  padding: 15rem 0;
}

.section_title {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-right: 35px;
  display: inline-block;
}

.section_title img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: -5px;
  max-width: 17px;
}

.section_title i {
  font-style: normal;
  color: #DC4448;
}

.autorization_anons {
  font-size: 21px;
  margin-top: 20px;
}

.authorization_soc {
  margin-top: 8rem;
}

.atho_button {
  max-width: 230px;
  width: 100%;
  padding: 15px 10px 15px 50px;
  display: block;
  margin: 30px auto 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "GothamPro", sans-serif;
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background .25s, -webkit-box-shadow .25s;
  transition: background .25s, -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s, background .25s;
  transition: box-shadow .25s, background .25s;
  transition: box-shadow .25s, background .25s, -webkit-box-shadow .25s;
}

.atho_button span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 30px;
  width: 50px;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
}

.atho_button span i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.atho_button.vk {
  background-color: #5181B8;
  -webkit-box-shadow: 0 10px 30px 10px rgba(81, 129, 184, 0.2);
          box-shadow: 0 10px 30px 10px rgba(81, 129, 184, 0.2);
}

.atho_button.vk:hover {
  -webkit-box-shadow: 0 10px 30px 10px rgba(81, 129, 184, 0.3);
          box-shadow: 0 10px 30px 10px rgba(81, 129, 184, 0.3);
  background-color: #639EE1;
}

.atho_button.fb {
  background-color: #4267B2;
  -webkit-box-shadow: 0 10px 30px 10px rgba(66, 103, 178, 0.2);
          box-shadow: 0 10px 30px 10px rgba(66, 103, 178, 0.2);
}

.atho_button.fb:hover {
  -webkit-box-shadow: 0 10px 30px 10px rgba(66, 103, 178, 0.3);
          box-shadow: 0 10px 30px 10px rgba(66, 103, 178, 0.3);
  background-color: #5585E4;
}

.atho_button.ok {
  background-color: #EB722E;
  -webkit-box-shadow: 0 10px 30px 10px rgba(235, 114, 46, 0.2);
          box-shadow: 0 10px 30px 10px rgba(235, 114, 46, 0.2);
}

.atho_button.ok:hover {
  -webkit-box-shadow: 0 10px 30px 10px rgba(235, 114, 46, 0.3);
          box-shadow: 0 10px 30px 10px rgba(235, 114, 46, 0.3);
  background-color: #FF8E4D;
}

.authorization_step_2 {
  margin: 0 auto;
  text-align: center;
  padding: 10rem 0;
}

.authorization_form_wrap {
  max-width: 330px;
  margin: 0 auto;
}

.authorization_form_wrap .button_1 {
  margin-top: 4rem;
}

.input_1_wrap {
  margin-top: 4rem;
  position: relative;
  text-align: left;
}

.input_1_wrap span {
  position: absolute;
  bottom: -18px;
  font-size: 12px;
  width: 100%;
  left: 0;
}

.input_1 {
  border: 1px solid #003A68;
  background-color: rgba(0, 49, 89, 0.7);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: border .25s, -webkit-box-shadow .25s;
  transition: border .25s, -webkit-box-shadow .25s;
  -o-transition: border .25s, box-shadow .25s;
  transition: border .25s, box-shadow .25s;
  transition: border .25s, box-shadow .25s, -webkit-box-shadow .25s;
  color: #fff;
}

.input_1.has-error {
  border-color: #DC4448;
  background-color: rgba(70, 10, 12, 0.8);
  color: #DC4448;
}

.input_1.has-error + .help-block {
  color: #DC4448;
}

.input_1:focus {
  border-color: #0067B5;
  -webkit-box-shadow: 0 0 35px 5px rgba(0, 85, 148, 0.2);
          box-shadow: 0 0 35px 5px rgba(0, 85, 148, 0.2);
}

.form_alert {
  font-size: 12px;
  opacity: .5;
  margin-top: 5rem;
  text-align: left;
}

.button_1 {
  padding: 18px 20px;
  width: 100%;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background: none;
  color: #fff;
}

.button_1:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  background-color: #F48124;
  position: absolute;
  z-index: -1;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fc8300), to(#fcd100));
  background: -webkit-linear-gradient(left, #fc8300 50%, #fcd100 100%);
  background: -o-linear-gradient(left, #fc8300 50%, #fcd100 100%);
  background: linear-gradient(to right, #fc8300 50%, #fcd100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8300', endColorstr='#fcd100',GradientType=0 );
}

.button_1:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  background-color: #E57600;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 15px 35px 10px rgba(244, 129, 36, 0.2);
          box-shadow: 0 15px 35px 10px rgba(244, 129, 36, 0.2);
  -webkit-transition: background .25s, -webkit-box-shadow .25s;
  transition: background .25s, -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s, background .25s;
  transition: box-shadow .25s, background .25s;
  transition: box-shadow .25s, background .25s, -webkit-box-shadow .25s;
}

.button_1:hover:after {
  opacity: 0;
}

.button_1:hover:before {
  -webkit-box-shadow: 0 15px 35px 10px rgba(244, 129, 36, 0.15);
          box-shadow: 0 15px 35px 10px rgba(244, 129, 36, 0.15);
}

.button_1:active:after {
  opacity: 0;
}

.button_1:active:before {
  background-color: #DC4448;
}

.authoriation_refer {
  margin-top: 15px;
  display: inline-block;
  border-bottom: 1px solid transparent;
  -webkit-transition: border .25s;
  -o-transition: border .25s;
  transition: border .25s;
}

.authoriation_refer:hover {
  border-color: #fff;
}

.user_info {
  width: 100%;
  margin: -100px auto 0;
  text-align: center;
}

.user_info .img {
  display: inline-block;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center top;
}

.user_info .name {
  font-weight: 700;
  font-size: 4rem;
  margin: 10px 0;
}

.user_info .exit {
  font-size: 21px;
  color: #DC4448;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.user_info .exit:hover {
  color: #F48124;
}

.push {
  height: 1000px;
}

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1600px) {
  /**/
}

@media only screen and (max-width: 1350px) {
  /**/
  .wrap_tracks_slider {
    padding: 50px 30px 0;
  }
  .slider_nav .owl-prev {
    left: 0px;
  }
  .slider_nav .owl-next {
    right: 0px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  html {
    font-size: 9px;
  }
  .contain {
    max-width: 992px;
  }
  .section_main {
    padding-bottom: 80px;
  }
  .track_item {
    max-width: 280px;
  }
  .track_item .timer_range {
    top: -15px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  html {
    font-size: 8px;
  }
  .contain {
    max-width: 768px;
  }
  .header_main {
    padding: 8px 0;
  }
  .logo_1 {
    right: -40px;
  }
  .burger_button {
    display: block;
  }
  .main_menu {
    display: none;
  }
  .main_wrap_blocks .anons {
    font-size: 18px;
  }
  .main_right {
    margin-top: 2rem;
  }
  .main_name {
    font-size: 4.6rem;
    padding-right: 65px;
  }
  .main_name img {
    max-width: 50px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
  html {
    font-size: 7px;
  }
  .contain {
    max-width: 480px;
  }
  .logo_1 {
    max-width: 140px;
  }
  .logo_2 {
    max-width: 80px;
  }
  .wrap_tracks_slider {
    padding: 50px 0 0;
  }
  .slider_nav {
    display: none;
  }
  .slider_dots {
    display: block;
  }
  .track_item {
    max-width: 200px;
  }
  .record_info .top {
    display: block;
    padding-bottom: 3px;
  }
  .record_info .top .date {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    margin-bottom: 15px;
  }
  .record_info .top p {
    font-size: 16px;
    font-weight: 500;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0;
  }
  .record_info .bottom span {
    margin-right: 0;
  }
  .record_info .bottom .link {
    font-size: 18px;
  }
  .footer_menu ul {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_menu li {
    margin-right: 20px;
  }
  .autorization_anons {
    font-size: 18px;
  }
  .authorization .contain {
    padding: 10rem 15px;
  }
  .section_main {
    padding-bottom: 10rem;
  }
  .main_wrap_blocks .big_img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  .main_right {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-top: 4rem;
    max-width: 400px;
    margin: 0 auto;
  }
  .main_name {
    font-size: 4rem;
    padding-right: 58px;
  }
  .main_name img {
    max-width: 40px;
  }
  .section_main {
    padding-bottom: 170px;
  }
  .track_item.light {
    padding-bottom: 125px;
  }
  .track_item.light .record_info .bottom {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .track_share {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .logo_1 {
    right: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  /**/
  .contain {
    max-width: 320px;
  }
  .footer_bottom {
    font-size: 21px;
  }
  .track_item {
    max-width: 280px;
  }
  .track_item.light {
    padding-bottom: 100px;
  }
  .track_share {
    margin-top: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
